.App {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

button,
input,
select,
textarea {
  font-size: inherit;
  font-family: inherit;
  border: 0;
  &:focus {
    outline: 1px solid currentColor;
    outline-offset: -1px;
  }
}

.uploadAcceptArea {
  @apply border-3 b-slate-8 b-dashed bg-slate-2 rounded-xl cursor-pointer max-w-4xl mx-auto;
  @apply py-16 px-4 flex flex-col gap-4 items-center justify-center text-3xl text-slate-8;
  transition: 0.2s;

  .movieFileIcon {
    transition: 0.2s;
  }

  &:hover {
    transition: 0.4s;
    box-shadow:
      0 0 0 5px #fff,
      0 0 0 10px currentColor;
  }

  &:focus,
  &.dragOver {
    @apply outline-0 b-orange-7 b-solid;

    .movieFileIcon {
      transform: translateY(-3px);
    }
  }
}

.startButton {
  @apply block cursor-pointer mx-auto px-6 py-3;
  @apply bg-blue b-0 rounded-xl text-xl text-white;

  @apply disabled:bg-gray disabled:cursor-default;
}

.stopButton {
  @apply block cursor-pointer mx-auto px-6 py-3;
  @apply bg-orange b-0 rounded-xl text-xl text-white;
}

.optionEditorWatermarkExtra {
  @apply bg-transparent text-white px-1 w-full hover:bg-gray-7 transition-height-200 h-12 overflow-hidden resize-none font-mono op-60;
  box-sizing: border-box;

  &:focus {
    @apply h-32 op-100;
    overflow: auto;

    ~ .optionEditorWatermarkExtraNotice {
      display: block;
    }
  }
}

.optionEditorWatermarkExtraNotice {
  display: none;
  position: absolute;
  left: 0;
  bottom: 100%;
  box-sizing: border-box;
  @apply text-sm text-white z-1 bg-blue-7 p-4 py-2 shadow-xl rounded w-full;

  &::after {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 10px;
    width: 0;
    height: 0;
    box-sizing: content-box;
    border: 10px solid transparent;
    @apply b-t-blue-7;
  }
}
